<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns=""
       xsi:noNamespaceSchemaLocation="Schema.xsd">

    <bean id="0" classe="application.DAO.DaoImpl" ></bean>
    <bean id="1" classe="application.METIER.MetierImpl">
        <property id="2" ref="0"></property>
    </bean>


</beans>