<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns=""
       xsi:noNamespaceSchemaLocation="Schema.xsd">
    <bean id="a1" classe="a1.class"/>
    <bean id="a2" classe="a2.class">
        <property id="id1" ref="a1"/>
    </bean>
    


</beans>