<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns=""
       xsi:noNamespaceSchemaLocation="Schema.xsd">
    <bean id="1" classe="Final_APP.DAO.DaoImpl"/>
    <bean id="2" classe="Final_APP.METIER.MetierImpl">
        <property id="id1" ref="2"/>
    </bean>
    


</beans>